@import '../../globalCss/px2-rem.scss';

    .article{
        padding: px-to-rem(18)
    }

        .btns{
            display: flex;
            height: px-to-rem(80);
            justify-content: space-between;
            align-items: center;
            flex:1;
            position: fixed;
            left: 0px;
            right: 0px;
            bottom: 0;
            background: #fff;
            border-top: 1px solid #eee;
            padding-left: 16px;
            padding-right: 16px;
        }
        .iconfont{
            font-size: 22px;
            color:#333;
           
        }
        .titlesWrap {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(43, 37, 37, 0.5);
           
            .titles{
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                width: 60%;
                height: 100%;
                background: #fff;
                color:#000;
                overflow-y:scroll;
                -webkit-overflow-scrolling:touch;
                .title-item{
                    border:1px solid #f7f0f0;
                    padding: 10px;
                   
                }
                
                
            }
        }
        .slide-enter, .slide-leave-to{
            transform: translate3d(-100%,0,0)
        }
        .slide-enter-active, .slide-leave-active{
            transition: transfrom 0.5s ease
        }
        .back{
            background-color:rgb(42,163,255);
            display: flex;
            align-items: center;
            height: px-to-rem(80);
            margin: -50px -9px 20px -9px;
            .iconfont{
                font-size: 16px;
                color: white;
            }
        }