@import '../../globalCss/px2-rem.scss';

.register-btn{
    margin-top: 30px;
}
.code-btn{
    height: 28px;
    width: 130px;
    margin-bottom: -14px;
    margin-right: 6px;
    font-size: 12px;
    
}