@import '../../globalCss/px2-rem.scss';



.register{
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
    color:rgb(70, 70, 224)
}
a{
    color:rgb(70, 70, 224)
}

.login-button{
    margin-top: 30px;
}